@import "../../assets/scss/responsive.scss";
@import "../../assets/scss/font.scss";

.listing {
  @include responsiveWidth(1280);
  padding: 0 20px;
  margin: 0 auto;

  .title {
    font-family: $primary-font;
    @include responsiveFontSize(20, 18);
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .grid {
    display: grid;
	grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-auto-flow: dense;

    @media (max-width: 1180px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
}
