@import "../../assets/scss/responsive.scss";
@import "../../assets/scss/font.scss";

.listing {
  @include responsiveWidth(1280);
  padding: 20px 20px;
  margin: 0 auto;

  .title {
    font-family: $primary-font;
    @include responsiveFontSize(20, 18);
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .load-more-button {
    max-width: fit-content;
    padding: 15px;
    border-radius: 5px;
    font-family: $primary-font;
    @include responsiveFontSize(16, 14);
    border: 1px solid #000;
    color: #000;
    margin:  50px auto 20px;
    cursor: pointer;

    &:hover {
      background: #000;
      color: #fff;
      transition: background 0.4s ease-out;
    }
  }
}
